.i {
    width: 50%;
}

.info {
    margin: 15px 25%; font-size: 20px;
    color: white;
}
li {
    color: white;
    size: 20px;
    margin: 15px;
}

h3 {
    color: white;
    size: 25px;
}
@media (max-width: 700px) {
    .i {
        width: 100%;
    }

    .info {
        margin: 0;
    }



}
